## Dictionary

In [1]:
#Introduction to Dictionary
#(1). Identification ---> {key:value}
#(2). Element will seperate by comma.
#(3). Indexing start from 0 and length start from 1.

In [11]:
a = {'Model': 'Hyarader', 'Brand': 'Toyota', 'Price': 20000000}
print(type(a))

<class 'dict'>

In [3]:
#Loop in Dictionary
##Extract all keys 
for i in a:
    print(i)

Model
Brand
Price

In [4]:
for i in a.keys():
    print(i)

Model
Brand
Price

In [5]:
##Extract all values
for i in a:
    print(a[i])

Hyarader
Toyota
2000000

In [6]:
for i in a.values():
    print(i)

Hyarader
Toyota
2000000

In [8]:
### Extract all keys and values
for i,j in a.items():
    print(i,j)

Model Hyarader
Brand Toyota
Price 2000000

In [13]:
##Update the Values
a['Model'] = 'Innova'
a['Colour'] = 'Black'
print(a)

{'Model': 'Innova', 'Brand': 'Toyota', 'Price': 20000000, 'Colour': 'Black'}

In [ ]:
## Functions in Dictionary
# (1). length----> It will return length of a dictionary
len(a)

4

In [15]:
# (2). .remove() ---> It will remove key value pair.
a.pop('Colour')
print(a)

{'Model': 'Innova', 'Brand': 'Toyota', 'Price': 20000000}

In [17]:
# (3). popitem() ----> It will remove element from the last index.
a.popitem()
print(a)
a.popitem()
print(a)

{'Model': 'Innova'}
{}

In [29]:
# (4). update() ----> It will update value of a specific key
a = {'Model': 'Hyarader', 'Brand': 'Toyota', 'Price': 20000000}
a.update({"Model":"Innova"})
print(a)

{'Model': 'Innova', 'Brand': 'Toyota', 'Price': 20000000}

In [1]:
#Q1 Create a Dictionary of three students with their marks and print it
students = {'Amit': 90, 'Rahul': 80, "Chandan": 85}
for i in students:
    print(students[i])

90
80
85

In [2]:
#Q2 How do you access the marks of 'name' from a dictionary?
students = {'Amit': 90, 'Rahul': 80, "Chandan": 85}
print(students['Amit'])

90

In [3]:
#Q3 Add a new student 'Neha':80 to the dictionary?
students = {'Amit': 90, 'Rahul': 80, "Chandan": 85}
students['Neha'] = 80
print(students)

{'Amit': 90, 'Rahul': 80, 'Chandan': 85, 'Neha': 80}

In [ ]:
#Q4 Delete 'Neha' from the dictionary.
students.pop('Neha')
print(students)

{'Amit': 90, 'Rahul': 80, 'Chandan': 85}

In [7]:
#Q5 Check if 'Amit' exists in a dictionary.
students.get('Amit')

90

In [8]:
#Q6 Get all keys and values from the dictionary.
students = {'Amit': 90, 'Rahul': 80, "Chandan": 85}

for i in students:
    print(i, students[i])

Amit 90
Rahul 80
Chandan 85

In [9]:
#Q7 Write a Program to find the students with the highest marks.
students = {'Amit': 90, 'Rahul': 80, "Chandan": 85}

max = 0
for i in students.values():
    if i > max:
        max = i
print("Highest marks: ", max)

Highest marks:  90

In [16]:
#Q8 Count the frequency of each character in a string using a dictionary.
a = "banana"
#output ---> {"b": 1, "a": 3, "n": 2}

b = {i : a.count(i) for i in a}
print(b)

{'b': 1, 'a': 3, 'n': 2}

In [17]:
#Q9 Count the frequency of words in a list using dictionary.
words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
#output = {'Apple': 3, "banana": 2, "orange": 1}

c = {i:words.count(i) for i in words}
print(c)

{'apple': 3, 'banana': 2, 'orange': 1}

## Dictionary Comprehension

In [ ]:
# Dictionary Comprehension in python offer a consice way to create dictionaries from iterables.
# Similar to List Comprehension, they allow you to construct dictionaries in a single line, with an optional condition for filtering
# Syntax:
# {Key_Expression : Value_expression for item in iterable if condition}

### Q1 Create a Dictionary of Squares.?

In [1]:
sq = {x:x**2 for x in range(1,11)}
print(sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Q2 Filter Even Numbers

In [2]:
even = {x:x**2 for x in range(1,11) if x % 2 == 0}
print(even)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

### Q3 Reverse a Dictionary

In [4]:
original = {'a': 1, 'b': 2, 'c': 3}
reverse = {k:v for v,k in original.items()}
print(reverse)

{1: 'a', 2: 'b', 3: 'c'}

### Q4 Convert List to Dictionary with Lengths

In [6]:
words = ["apple", "banana", "cherry"]
length_dict = {x : len(x) for x in words}
print(length_dict)

{'apple': 5, 'banana': 6, 'cherry': 6}

### Q5 Create a Dictionary where keys are words and values are uppercase.

In [7]:
words =['python', 'code', 'dict']

t = {x: x.upper() for x in words}
print(t)

{'python': 'PYTHON', 'code': 'CODE', 'dict': 'DICT'}

### Q6 Create a Dictionary from a setence with each word and its frequency

In [15]:
sentence = 'python makes coding easy and python is fun'
b = sentence.split()

e = {x : b.count(x) for x in b}
print(e)

{'python': 2, 'makes': 1, 'coding': 1, 'easy': 1, 'and': 1, 'is': 1, 'fun': 1}

### Q7 Create a nested Dictionary of numbers form 1-3 with their square and cube.

In [17]:
numbers = {x: {"Square": x**2, "Cube": x**3} for x in range(1,4)}
print(numbers)

{1: {'Square': 1, 'Cube': 1}, 2: {'Square': 4, 'Cube': 8}, 3: {'Square': 9, 'Cube': 27}}

### Q8 Create a Dictionary from a string where keys are vowels and values are their counts.

In [ ]:
text = "dictionary comprehension practise"
vowels = 'aeiou'

p = {x : text.count(x) for x in text if x in vowels}
print(p)

{'i': 4, 'o': 3, 'a': 2, 'e': 3}

### Q9 Create a Dictionary with numbers 1-10 as keys and "Divisible by 3" / "Not divisible" as values.

In [22]:
t = {x : "Divisible By 3" if x % 3 == 0 else "Not Divisible" for x in range(1,11)}
print(t)

{1: 'Not Divisible', 2: 'Not Divisible', 3: 'Divisible By 3', 4: 'Not Divisible', 5: 'Not Divisible', 6: 'Divisible By 3', 7: 'Not Divisible', 8: 'Not Divisible', 9: 'Divisible By 3', 10: 'Not Divisible'}

### Q10 Create a dictionary from 2 lists

In [23]:
keys = ['name', 'age', 'city']
values = ['sam', 30, 'Delhi']

s = {k:v for k,v in zip(keys,values)}
print(s)

{'name': 'sam', 'age': 30, 'city': 'Delhi'}

### Q11 Convert a list of tuples into a dictionary

In [4]:
p = [('a', 1), ('b', 2), ('c', 3)]
r = dict(p)
print(r)

{'a': 1, 'b': 2, 'c': 3}