In [2]:
data = [12,34,54,56,True,3.23,[1,2]]
print([1,2] in data)

True

## Indexing
#### Forward Indexing - starts with [0,1,2,3....]
#### Reversed Indexing - starts with [.....,-2,-1]

In [ ]:
## Accessing elements from collection
# variablename [index number]

print(data[3])
print(data[-1])

56
[1, 2]

In [6]:
data1 = "Welcome to regex"
print(data1[-6])

Indexing can be applied on string, tuples, list.

In [7]:
a = 10
print(id(a))
a = 20
print(id(a))

140721236165832
140721236166152

In [ ]:
## List - it is Mutable(changeable) - can change the value of elements
data2 = [1,2]
print(id(data2))
data2[1] = 90
print(id(data2))
print(data2)

2352661340544
2352661340544
[1, 90]

In [14]:
str = "Hello"
print(str)
list1 = [23,54,56,7]
print(list1)

str1 = {23,54,506,2,32}
print(str1)

Hello
[23, 54, 56, 7]
{32, 2, 54, 23, 506}

#### Identity Operator
It checks whether the ID of two different data are same or not.
Data and data type should be immutable.

In [16]:
a = 10
b = 10
print(a is b)
print(id(a))
print(id(b))

True
140721236165832
140721236165832

In [17]:
c = [1,2]
d = [1,2]
print(id(c))
print(id(d))
print(c is d)

2352661337792
2352661738112
False

In [18]:
s1 = {1,2}
s2 = {1,2}
print(s1 is not s2)

True

In [22]:
t1 = (1,2)
t2 = (1,2)
print(type(t1))
print(type(t2))
print(id(t1))
print(id(t2))
print(t1 is t2)

<class 'tuple'>
<class 'tuple'>
2352660336448
2352660344000
False