## SETS

In [ ]:
# Introduction to Sets
# (1). Identification = {obj1, obj2,......,objn}
# (2). It is unordered, mutable data type.
# (3). It does not allow duplicate elements.
# (4). Indexing and Slicing is not allowed.
# (5). Length of the set starts from 1

In [ ]:
a = {'sam', 'mohit', 'sam', 'raj', 'aniket', 'sam'}
print(a)
print(type(a))

In [ ]:
## Loops in Sets
a = {'sam', 'mohit', 'sam', 'raj', 'aniket', 'sam'}

for i in a:
    print(i, end=" ")

In [ ]:
a = {'sam', 'mohit', 'sam', 'raj', 'aniket', 'sam'}
len(a)

In [ ]:
a = {1,2,3}
b = {4,5,6}
# c = a + b     -----> Concatenation is not allowed

#Similarly
# d = a*3       -----> Repeitition is not allowed.

In [ ]:
# Functions in Set
# (1). len() ----> It will return length of a set.
a = {1,2,3}
len(a)

In [ ]:
# (2). add() ----> It will add element
a = {1,2,3}
a.add(4)
print(a)

a.update((5,6))     #Single argument values should be added
print(a)

In [ ]:
# (3). remove() ----> It will remove the specified element
a = {1,2,3,4,5}
a.remove(5)
print(a)

In [ ]:
# (4). discard() ----> This also removes the element without giving an error
a = {1,2,3,4,5}
a.discard(5)
print(a)

In [ ]:
## Operations in sets
#(1). Union

a = {1,2,3,4}
b = {3,4,5,6}

c = a.union(b)    #It will combine 2 sets with having unique values.
print(c)

a = {1,2,3,4}
b = {3,4,5,6}

c = a | b
print(c)

In [ ]:
# (2). Intersection
a = {1,2,3,4}
b = {3,4,5,6}

c = a.intersection(b)     ## It will return common elements from 2 sets.
print(c)

a = {1,2,3,4}
b = {3,4,5,6}

c = a & b
print(c)

In [ ]:
# (3). Difference
a = {1,2,3,4}
b = {3,4,5,6}

c = a - b     ##It will remove the common elements and return the remaining values.
d = b - a
print(c)
print(d)

In [ ]:
# (4). Symmetric Difference
a = {1,2,3,4}
b = {3,4,5,6}

c = a.symmetric_difference(b)
print(c)

d = a ^ b
print(d)

<class 'set'>
{1, 2, 5, 6}
{1, 2, 5, 6}

In [ ]:
# (5). copy()
a = {1,2,3,4}

b = a.copy()
print(b)

In [ ]:
## Q1 Find all unique vowels present in a string using a set.
text = 'programming in python'

vowels = 'aeiou'
s = set()

for i in text:
    if i in vowels:
        s.add(i)
print(s)

In [ ]:
## Q2 Given 2 lists, find common elements using a set
list1 = [1,2,3,4,5,6]
list2 = [4,5,6,7,8,9]

s1 = set(list1)
s2 = set(list2)

comm = s1 & s2
print(comm)

In [ ]:
## Q3 Find elements that are in list1 but not in list2
l1 = [1,2,3,4]
l2 = [3,4,5,6]

s1 = set(l1)
s2 = set(l2)

comm = s1 - s2
print(comm)

In [ ]:
## Q4 Find all duplicate elements in a list using a set

nums = [1,2,3,2,4,5,1,6,3]
q = set()

for i in nums:
    if nums.count(i) > 1:
        q.add(i)
print(q)

In [ ]:
## Q5 Check if all elements of one list exist in another list using sets.
l1 = [1,2,3]
l2 = [1,2,3,4,5]

s1 = set(l1)
s2 = set(l2)

s1.issubset(s2)

In [ ]:
## Q6 Find the first repeated character in a string using a set.
text = 'programming'

w = set()

for i in text:
    if text.count(i) > 1:
        w.add(i)
        break
print(w)