### LOOPS

In [ ]:
# (1). FOR Loop
#Syntax: for i in range(min_value, max_value+1, step_number): 

## i ---> holds the rows
## j ---> holds the columns

In [ ]:
# Q1. Write a program who print 1 to 5?
for i in range(1,6):
    print(i)

In [ ]:
#Q2.
a = 'Python'
for i in range(len(a)):
    print(a[i], end=' ')       #Anything enters in 'end' it prints the same.

In [ ]:
#Q3. 
for i in range(3):
    for j in range(5):
        print(i,j)

In [ ]:
#Q4.
for i in range(1,6,1):
    print(i * '*')
for i in range(5,0,-1):
    print(i * '*')

In [ ]:
#Q5. 
for i in range(5,0,-1):
    print(i * '*')

In [ ]:
for i in range(1,6):
    for j in range(i):
        print('*', end = " ")
    print()          #It is changing line.

In [ ]:
for i in range(5,0,-1):
    for j in range(i):
        print('*', end = " ")
    print()

### Increasing Triangle

In [ ]:
for i in range(1,6):
    for j in range(i):
        print(i, end = " ")
    print()

In [ ]:
for i in range(1,6):
    for j in range(1, i+1):
        print(j, end =" ")
    print()

### Decreasing Pattern

In [ ]:
n = 5
for i in range(1,n+1):
    temp = 1
    for j in range(i,n+1):
        print(temp, end= " ")
        temp += 1
    print()

In [ ]:
n = 5
for i in range(1, n+1):
    print(" "*(n-i), end = " ")
    for j in range(1, i+1):
        print(j, end = " ")
    print()

In [ ]:
# Step-1 n = 5, i = 1
# space ---> 4 space,
# n = 5, i = 2
# space ---> 5 - 2 = 3,
# n = 5, j = 3,
# space --->

#### Hollow Square Pattern

In [ ]:
n = 5
for i in range(n):
    for j in range(n):
        if i == 0 or i == n-1 or j == 0 or j == n-1:
            print(j+1, end = " ")
        else:
            print(" ", end = " ")
    print()

In [ ]:
n = 5
for i in range(1,n+1):
    for j in range(1, i+1):
        if j == 1 or j == i or i == n:
            print('*', end= "")
        else:
            print(" ", end="")
    print()

### Increasing Triangle

In [ ]:
temp = 1
for i in range(1,5):
    for j in range(i):
        print(temp, end = " ")
        temp += 1
    print()

### Decreasing Triangle

In [ ]:
n = 5
for i in range(1,n+1):
    for j in range(i,n+1):
        print(j, end=" ")
    print()

### Left Increasing Triangle

In [ ]:
n = 5
for i in range(1,n+1):
    for j in range(i,n):
        print(" ", end=" ")
    for j in range(1,i+1):
        print(j, end=" ")
    print()

### Left Decreasing Triangle

In [ ]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print(" ", end=" ")
    for j in range(i,n+1):
        print(j, end=" ")
    print()

## WHILE Loop

In [ ]:
# (2). while --->
# (a). Initialization
# (b). Condition
# (c). Increment or Decrement

In [ ]:
#Q.1 Write a Program to print 1 to 4?

i = 1
n = 4
while i <= n:   ##Condition
    print(i, end=" " )
    i += 1      ## Increment

In [ ]:
#Q2. Write a program who print 4 to 1?
i = 4
n = 1
while i >= n:
    print(i)
    i -= 1

In [ ]:
#Q3. Write a Program to sum the given numbers in a range?

i = 1    ## initialization Points
n = 4
sum = 0
while (i <= n):    ## Condition
    sum += i
    i += 1         ## Increment
    print(sum)
print("Total: ",sum)

In [ ]:
# Q4. 
i = 1
sum = 0
n = int(input("Enter range: "))
while i <= n:
    sum += i**2
    i += 1
print(sum)

In [ ]:
#Q5. Write a program to print the sum of cube of a given number and check the number is Armstrong or not.?
n = int(input("Enter Number: "))
og = n
sum = 0

while n > 0:
    digit = n % 10
    cube = digit ** 3
    sum += cube
    n = n // 10   

print("Sum of cubes:", sum)

if sum == og:
    print(og, "is an Armstrong number.")
else:
    print(og, "is not an Armstrong number.")

In [ ]:
#Q6.
n = int(input("Enter Number: "))
even = 0
odd = 0
while n > 0:
    digit = n % 10
    if digit % 2 == 0:
        even += digit
    else:
        odd += digit
    n //= 10
print("The Sum of even  numbers in a digit:", even)
print("The Sum of odd  numbers in a digit:", odd)

In [ ]:
#Q7. Reverse of a Number.

n =int(input("Enter Number: "))
reverse = 0
while n > 0:
    digit = n % 10
    reverse = 10 * reverse + digit
    n //= 10
print(reverse)

In [ ]:
#Q8. #Palindrome Check
num = int(input("Enter Number: "))
reverse = 0
originalnumber = num

while num > 0:
    digit = num % 10
    reverse = 10 * reverse + digit
    num //= 10
print("The Reverse of the number is: ", reverse)

if reverse == originalnumber:
    print("It is a Palindrome")
else:
    print("It is not a Palindrome")

In [ ]:
#Q9. Write a program who print table of 5?

n = 5
i = 1
while i <= 10:
    print(f"{n} x {i} = {n * i}")
    i += 1

In [ ]:
#Q10. Check Maximum Number

num1 = int(input("Enter Number: "))
max = 0
min = float('-inf')
while num1 > 0:
    digit = num1 % 10
    if digit > max:
        max = digit
    # if digit < min:
    #     min = digit
    num1 //= 10

print("The Maximun Number is: ", max)

In [ ]:
#Q11. Sum of first 15 odd numbers? 
num3 = int(input("Enter Number: "))
odd = 0
even = 1
i = 0
j = 1
while i <= num3:
    if i % 2 != 0:
        odd = odd + i
    i += 1
print("The Sum of Of first N odd Numbers: ", odd)

while j <= num3:
    if j % 2 == 0:
       even += j**2
    j += 1
print("The sum of squares of first N numbers:", even)

In [ ]:
#Q12. STR= "Pyhton Program,"
str1 = "Python Program"
str1 = str1.lower() 

vowels = "aeiou"
vowel_count = 0
consonant_count = 0

i = 0
while i < len(str1):
    ch = str1[i]
    if ch.isalpha():      
        if ch in vowels:
            vowel_count += 1
        else:
            consonant_count += 1
    i += 1

print("Number of vowels:", vowel_count)
print("Number of consonants:", consonant_count)

In [ ]:
#Q13. Print all Divisors of 36.

m = 36
i = 1
print("The factors of 36 are: ", end="")
while i <= m:
    if m % i == 0:
       print(i, end=" ")
    i += 1

In [ ]:
#Q14. Reverse words of "Python is Fun".?

str2 = "Python is Fun"
words = str2.split()   
i = len(words) - 1     
result = ""

while i >= 0:
    result += words[i]
    if i != 0: 
        result += " "
    i -= 1

print(result)

2
Fun is Python