## Pandas

Pandas is an open-source library of python which is used for handle data manipulation.

In [ ]:
# !pip install pandas   ## To Install Pandas

Collecting pandas
  Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\singh\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\singh\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\singh\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   --- ------------------------------------ 1.0/11.0 MB 7.1 MB/s eta 0:00:02
   --------- ------------------------------ 2.6/11.0 MB 7.0 MB/s eta 0:00:02
   -------------- ------------------------- 3.9/11.0 MB 7.0 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.0 MB 7.5 MB/s eta 0:00:01
   ------------------------- -------------- 7.1/11.0 MB 7.3 MB/s eta 0:00:01
   ----------------------------- ---------- 8.1/11.0 MB 6.7 MB/s eta 0:00:01
   ------------------------------- -------- 8.7/11.0 MB 6.4 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.0 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 6.0 MB/s  0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas

   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   ---------------------------------------- 3/3 [pandas]

Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd

In [3]:
# Data Structure of Pandas:
# (1). Series
# (2). DataFrame

In [6]:
# (1). Series ---> It is one-dimentional array and it returns only values not column name.
a = pd.Series([1,45,78,90])
print(a)
print(type(a))

0     1
1    45
2    78
3    90
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
# (2). DataFrame ---> It is Multi-dimentional array and it returns values with column name.
## Task :: We have to create a dataframe of employees in which column are 
# emp_id, emp_name, department, salary, working_hours

In [5]:
a = {
    "Emp_ID" : ['A101', 'A102', 'A103', 'A104', 'A105', 'A106'],
    "Emp_Name" : ['Sam', 'Rahul', 'Aniket', 'Gourav', 'Mohit', 'Karan'],
    "Department" : ['IT', 'Operations', 'IT', 'IT', 'Operations', 'IT'],
    "Salary" : [20000, 25000, 35000, 40000, 21000, 45000],
    "Working_Hours" : [8,8,9,9,8,9]
}
df = pd.DataFrame(a)
print(df)

  Emp_ID Emp_Name  Department  Salary  Working_Hours
0   A101      Sam          IT   20000              8
1   A102    Rahul  Operations   25000              8
2   A103   Aniket          IT   35000              9
3   A104   Gourav          IT   40000              9
4   A105    Mohit  Operations   21000              8
5   A106    Karan          IT   45000              9

In [5]:
b = {
    "Emp_ID" : [1,2,3,4],
    "Name" : ['Navneet', 'Rahil', 'Faruk', 'Manish'],
    'Department' : ['IT', 'Travel', 'Travel', 'IT'],
    'Salary' : [120000, 150000, 250000, 50000]
}
df = pd.DataFrame(b)
print(df)

   Emp_ID     Name Department  Salary
0       1  Navneet         IT  120000
1       2    Rahil     Travel  150000
2       3    Faruk     Travel  250000
3       4   Manish         IT   50000

## Exporting CSV Files

In [ ]:
df.to_csv("emp_info.csv")        ## to_csv means export your data into csv files.

In [6]:
df.to_csv("new_emp_info.csv", index= False)   ## index = False means it will remove unnamed column.
# print(pd.options.display.max_rows)    -- to see maximum rows

## Importing CSV data into Pandas

In [14]:
df1 = pd.read_csv(r"C:\Users\singh\OneDrive\Desktop\Python\Regex\Pandas\emp_info.csv")
print(df1)

   Unnamed: 0 Emp_ID Emp_Name  Department  Salary  Working_Hours
0           0   A101      Sam          IT   20000              8
1           1   A102    Rahul  Operations   25000              8
2           2   A103   Aniket          IT   35000              9
3           3   A104   Gourav          IT   40000              9
4           4   A105    Mohit  Operations   21000              8
5           5   A106    Karan          IT   45000              9

In [ ]:
## shoes 2000 to 5000
## Best places in massorie

In [8]:
# ===============================================
# PANDAS DATA ANALYSIS: INITIAL INSPECTION
# Based on W3Schools "Pandas - Analyzing DataFrames"
# ===============================================

# 1. Setup and Data Loading
# -----------------------------------------------

import io

# Create a sample CSV data string for demonstration (simulating the 'data.csv' file)
csv_data = """Duration,Pulse,Maxpulse,Calories
60,110,130,409.1
60,117,145,479.0
60,103,135,340.0
45,109,175,282.4
45,117,148,400.0
60,102,127,300.0
120,101,126,300.0
60,120,132,250.0
45,104,134,253.3
60,98,124,269.0
45,123,178,
120,100,120,200.0
"""

# Use io.StringIO to read the string data as if it were a file
df = pd.read_csv(io.StringIO(csv_data))

print("DataFrame successfully loaded.")

# 2. Viewing the Data: head() and tail()
# -----------------------------------------------

# **Markdown Cell:** Quick Visual Inspection

# The `head()` method is used to get a quick overview of the DataFrame by displaying the top rows.

# **Code Cell:** df.head(n)

print("--- Displaying the Top 5 Rows (df.head()) ---")
print(df.head())

# **Markdown Cell:** Checking the End of Data

# The `tail()` method is used to view the last rows, which can be important for checking footers or recent entries.

# **Code Cell:** df.tail(n)

print("\n--- Displaying the Last 3 Rows (df.tail(3)) ---")
print(df.tail(3))


# 3. Info About the Data: info()
# -----------------------------------------------

# **Markdown Cell:** Detailed Summary and Null Check

# The `info()` method provides a summary of the DataFrame structure, including data types and, critically, non-null counts for each column.

# **Code Cell:** df.info()

print("\n--- Displaying Data Information (df.info()) ---")
df.info()

# **Markdown Cell:** Result Interpretation

# The output of `df.info()` is essential for identifying data quality issues:
# 1. **RangeIndex (12 entries):** Tells us there are 12 rows in total.
# 2. **Dtype:** Shows the data type (e.g., 'float64', 'int64').
# 3. **Non-Null Count:** For the 'Calories' column, the count is 11, which is less than the total 12 entries. This indicates **1 missing value (Null Value)**, signaling a need for data cleaning.

DataFrame successfully loaded.
--- Displaying the Top 5 Rows (df.head()) ---
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     400.0

--- Displaying the Last 3 Rows (df.tail(3)) ---
    Duration  Pulse  Maxpulse  Calories
9         60     98       124     269.0
10        45    123       178       NaN
11       120    100       120     200.0

--- Displaying Data Information (df.info()) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  12 non-null     int64
 1   Pulse     12 non-null     int64
 2   Maxpulse  12 non-null     int64
 3   Calories  11 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 516.0 bytes

In [4]:
df1 = pd.read_csv(r"C:\Users\singh\OneDrive\Desktop\Python\Data\Attrition - Attrition.csv")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [ ]:
categorical_cols = df1.select_dtypes(include=["object"]).columns
numerical_cols = df1.select_dtypes(exclude=["object"]).columns

print("Categorical Columns:")
print(categorical_cols)

print("\nNumerical Columns:")
print(numerical_cols)

Categorical Columns:
Index(['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender',
       'JobRole', 'MaritalStatus', 'Over18', 'OverTime'],
      dtype='object')

Numerical Columns:
Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')